<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ganargatul.moviecatalogue">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_ALARM" />

    <permission
        android:name="com.ganargatul.moviecatalogue.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.ganargatul.moviecatalogue.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".widget.FavoriteWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorite_widget_info" />
        </receiver>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DetailActivity" />

        <provider
            android:name=".provider.MovieTvProvider"
            android:authorities="com.ganargatul.moviecatalogue"
            android:exported="true"
            android:readPermission="com.ganargatul.moviecatalogue.READ_DATABASE"
            android:writePermission="com.ganargatul.moviecatalogue.WRITE_DATABASE" />

        <activity
            android:name=".SearchMovieTv"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".notif.release_reciever" />
        <receiver android:name=".notif.daily_reciever"/>
        <service android:name=".widget.StackWidgetServices"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
    </application>

</manifest>